.interactive-card {
  min-width: 250px;
  min-height: 185px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  color: #1f2937;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: left; /* Align content to the left */
  padding: 20px;
  cursor: pointer;
}

.card-icon {
  position: static;
  font-size: 2em;
  color: darkgrey;
  padding-left: 70%;
  margin-bottom: 10px; /* Add space between icon and heading */
}

.card-heading {
  font-size: 2.5em;
  margin: 5px 0;
  text-align: left; /* Ensure heading aligns to the left */
  width: 100%; /* Make sure it takes full width */
}

.card-value {
  font-size: 1.25em;
  font-weight: bold;
  color: #1f2937;
  text-align: left; /* Ensure value aligns to the left */
  width: 100%; /* Make sure it takes full width */
}

.interactive-card:hover {
  background-color: #f0f0f0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: center;
}
