/* src/pages/Dashboard.css */
.main-layout {
  margin-left: 16%;
  background-color: #f5f8fa;
  min-height: 100vh; /* Full height for background */
  font-family: 'Arial', sans-serif; /* Clean and modern font */
  width: auto;
  padding: 2% 2% 5px 4%;
}

.right-content {
  box-sizing: border-box;
}

